{% extends 'index.html' %}
{% load static %}
{% block title %}Strona główna{% endblock%}
{% block content %} 
<div class="h-screen flex rounded-t-2xl" style="background-image: url('https://media.assettype.com/freepressjournal/2023-10/6e00e04c-bd96-40e9-99fb-4eddad92f098/hobbies_2nd_bridge_oct_15.jpg'); background-repeat: no-repeat; background-size: cover; text-shadow: 2px 2px 8px black; display: flex; justify-content: center; align-items: center; ">
    
    <div class=" px-10 py-12 bg-slate-300 bg-opacity-70 mx-8 my-auto  rounded-2xl border-slate-100 shadow-lg text-white justify-center font-oxygen font-slate-700 text-5xl font-bold" style="width: 80%;">
        <h2 class="mb-8 text-center">
            Hello and welcome to the <br><span style="color:#ff4d4d">C</span>ommuni<span style="color:#ff4d4d">c</span>a<span style="color:#005ce6">t</span>ion <span style="color:#005ce6">T</span>ransfer!
        </h2>

        <p class="text-lg text-center my-2">
            We're delighted to have you here in our vibrant community of bridge enthusiasts. Whether you're a seasoned player or just starting out, this is the perfect place to share your passion, learn new strategies, and make new friends.
        </p>
        <p class="text-lg text-center my-2">
            Bridge is not only a fascinating game of skill and strategy, but it's also a great way to keep your mind sharp and have fun at the same time. Did you know that bridge is one of the few games recognized by the International Olympic Committee as a sport? Its blend of mental challenges and social interaction makes it unique and incredibly rewarding.
            Here's an interesting tidbit: Bridge was the favorite game of famous figures such as Bill Gates and Warren Buffett. They have often credited the game with improving their decision-making skills and strategic thinking.
        </p>
        <p class="text-lg text-center my-2">
            So, grab a deck of cards, join a table, and let’s get playing! Don't hesitate to ask questions, share your experiences, and dive into the discussions. We look forward to seeing you at the bridge table!
        </p>
        <h2 class="text-2xl text-right my-4">
            Happy bridging!
        </h2>
    </div>
    
</div>
{% endblock %}