{% extends 'index.html' %}
{% load static %}
{% block title %}Profil{% endblock%}
{% block content %} 
<div class="dark:text-white m-8 bg-slate-100 rounded-2xl dark:bg-slate-900 dark:border border-slate-700">
    <div class="h-auto bg-slate-200 dark:bg-dark_slate_2 rounded-t-2xl pb-1 flex dark:border-b border-slate-700">
        <div class="w-fit h-fit bg-slate-200 px-4 rounded-lg transition duration-500 ease-in-out hover:brightness-75 mt-auto mb-auto ml-2 dark:bg-dark_slate_2 ">
            <span class="text-6xl font-oxygen align-middle text-slate-700 dark:border-slate-400 dark:text-slate-200 px-2 transition duration-500 ease-in-out hover:brightness-110 font-bold">{{request.user|upper}}</span>
        </div>
        <div class="h-auto w-1 bg-slate-400 ml-8 mr-2 mt-2 dark:bg-slate-500 rounded-sm"></div>
        <span class="font-caveat text-4xl lg:pt-0 pt-4 lg:text-6xl ml-8 font-oxygen align-middle text-slate-500 hidden md:flex">Customize your account~</span>
        <div class="grow"></div>
        <div class="h-auto w-1 bg-slate-400 ml-2 mr-8 mt-2 dark:bg-slate-500 rounded-sm">
            
        </div>
    </div>
    <div class="p-8 md:flex">
        <div class="border-0 md:border-r-4 flex-col w-fit p-8">
            {% if request.user.accounts.profile_pic.url %}
                <img class="object-cover overflow-hidden rounded-full shadow-md h-auto w-64 aspect-square hover:scale-110 ease-in duration-100 ml-auto mr-auto" 
                src="{{ request.user.accounts.profile_pic.url }}" 
                alt="profile pic">
            {% else %}
                <img class="object-cover overflow-hidden rounded-full shadow-md h-auto w-64 aspect-square hover:scale-110 ease-in duration-100 ml-auto mr-auto" 
                src="/media/profile_pics/default_profile_pic.jpg" 
                alt="profile pic">
            {% endif %}
        </div>
        <form method="POST" action="" enctype="multipart/form-data" class="mx-4 w-fit grow flex flex-col gap-2 dark:text-slate-900"> 
            {% csrf_token %}
            <!-- AKCEPTUJE TYLKO JAK WSZYSTKIE POLA WYPEŁNIONE -->
            <span class="font-semibold">Choose your profile picture:</span>
            <div class="grow">{{form.profile_pic}}</div>
            <span class="font-semibold">Gender:</span>
            <div>{{form.gender}}</div>
            <span class="font-semibold">Date of birth (YYYY-MM-DD) </span>
            <div>{{form.date_of_birth}}</div>
            <span class="font-semibold">Email</span>
            <div>{{form.email}}</div>
            <span class="font-semibold">Status</span>
            <div>{{form.status}}</div>
            <span class="font-semibold">About</span>
            <div>{{form.about_you}}</div>
            <input type="submit" value="Update" class="text-slate-800 bg-slate-300 hover:bg-slate-400 dark:text-white dark:bg-slate-700 dark:hover:bg-slate-500 dark:hover:text-slate-200 mx-2 h-fit text-sm 2xl:text-lg font-bold px-2 rounded-lg shadow-sm w-32">
        </form>
        <div class="w-1/2"></div>
    </div>
</div>

{% endblock %}