{% extends 'index.html' %}
{% load static %}
{% block title %}forum{% endblock%}
{% block content %} 
<div class=" m-8 bg-slate-100 rounded-2xl dark:bg-slate-900 dark:border border-slate-700">
    <div class="h-auto bg-slate-200 dark:bg-dark_slate_2 rounded-t-2xl pb-1 flex dark:border-b border-slate-700">
        <span class="text-4xl font-oxygen align-middle text-slate-700 dark:border-slate-400 text-slate-200 px-2 transition duration-500 ease-in-out hover:brightness-110 font-bold">Forum</span>
    </div>
    <div class="relative flex items-center" style="height: 100px;">
        <a class="flex items-center justify-center w-1/10 absolute right-4 p-2 bg-slate-200 button" style="height: 50%;" href="/forum/new_post">
            <div>
                Create new post
            </div>
        </a>
    </div>
    <div class="m-10" style="min-height: 1000px;">
        <div class="mx-auto border-b-2 border-white" style="height: 80px; width: 80%;">
            <h1 class="font-bold text-6xl text-white text-center">NEWS</h1>
        </div>
        <div class="grid grid-cols-3 gap-4 p-10">
            {% for post in posts %}
            <a href="{{post.id}}">
                <div class="border-slate-700 border rounded-2xl overflow-hidden" style=" display: flex; flex-direction: column; ">
                    <div class="p-4 text-2xl bg-slate-200 font-oxygen font-bold rounded-t-2xl text-slate-700 border-b-4 border-slate-700" style="height: 15%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        {{ post.name }}
                    </div>
                    <div style="flex-grow: 1;">
                        <div style="display: flex; flex-direction: column;" class="overflow-hidden">
                            {% if post.image %}
                                <img src="{{ post.image.url }}" alt="Image unavailable" style="height: 200px">
                            {% else %}
                                <div class="px-auto py-10 text-8xl font-bold font-oxygen bg-slate-200 text-center" style="height: 200px; color:rgb(130, 132, 133);">?</div>
                                <!-- <p style="height: 200px; text-overflow: ellipsis; ">{{ post.description }} </p> -->
                            {% endif %} 
                        </div>
                        <div class="p-2 border-t-4 border-slate-400 bg-slate-200 overflow-hidden" style="flex-grow: 1; ">
                                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ post.description }}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}